<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promoções</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Promoções de jogos</h1>
    </header>
    <main>
        <div id="jogos">
            {% for x in range(tamanho_dados) %}
            <div class="game-corpo">
                <div class="game-header">
                    <h3>{{lista_lojas[(lista_promos[x]['storeID'] | int)-1]['storeName']}}</h3>
                </div>
                <div class="game-imagem">
                    <img src="{{lista_promos[x]['thumb']}}" alt="">
                </div>
                <div class="game-infos">
                    <h3>{{lista_promos[x]['title']}}</h3>
                    <div class="precos"><h3 style="color: red">{{lista_promos[x]['normalPrice']}}</h3>R$ < <h3 style="color: green">{{lista_promos[x]['salePrice']}}</h3>R$</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>